/* Navbar */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.navbar1 {
	position: relative;
	height: 10vh;
	width: 100%;
}

.nav-top {
	position: relative;
	height: 100px;
	background-color: #084b81;
}

.logo {
	width: 8%;
	height: 100%;
	background: url('./resources/logo.jpg') no-repeat center center/cover;
}

.gator-logo {
	position: absolute;
	left: 29%;
	top: 10%;
	width: 120px;
	height: 80px;
	background: url('./resources/gator_logo-removebg-preview.png')no-repeat center center/cover;
}

.slogan {
	position: absolute;
	left: 38%;
	top: 5px;
	font-size: 4rem;
	color: rgb(240, 240, 240);
	font-family: inherit;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
	margin-bottom: -140px;
}

.search-bar {
	width: 40%;
	border: none;
	border-bottom: 2px solid #084b81;
	/* border-radius: 25px; */
	padding: 10px;
	/* background-color: #eeeeee; */
}

.search-bar::placeholder {
	font-size: 1.3rem;
	color: #bbbbbb;
}

/* .search-bar:focus {
	background-color: #f5f5f5;
} */

.search-button {
	position: absolute;
	/* background: #e17838; */
	border: none;
	/* border-radius: 0px 40px 40px 0px; */
	padding: 9px 10px;
	left: 962px;
	color: #084b81;
	cursor: pointer;
}

.login {
	position: absolute;
	color: white;
	text-decoration: none;
	right: 7%;
	margin-top: -55px;
	text-transform: capitalize;
}

.login:hover {
	cursor: pointer;
}

.login-button {
	background-color: #084b81;
	border-color: #084b81;
}

.login-button:hover {
	background-color: #e17838;
	border-color: #e17838;
}

.nav-bottom {
	display: flex;
	height: 40px;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	background-color: #e17838;
	text-decoration: none;
	list-style: none;
	font-size: 1.2rem;
}

.nav-bottom a {
	text-decoration: none;
	color: #fff;
}

.nav-bottom a:hover {
	color: #084b81;
}

.landing {
	height: 90vh;
	width: 100%;
	display: flex;
	margin-top: 7vh;
	align-items: center;
	flex-direction: column;
	background-color: #f8f8f8;
}

.text-landing {
	text-align: center;
}

.categories-section {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.categories {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
}

.card-category {
	margin: 20px;
}

.text-large {
	font-size: 3rem;
}

/* Lost Items */

.add-section {
	display: flex;
	margin-top: 150px;
	margin-bottom: -70px;
	margin-left: 68%;
	padding: 10px;
}

.add-icon {
	margin-top: -8px;
	padding-left: 10px;
	font-size: 40px;
	color: #e17838;
}

.add-icon:hover {
	color: #084b81;
	transform: scale(1.1);
	cursor: pointer;
}

.add-text {
	color: #084b81;
	font-size: 1rem;
}

.star-red {
	color: red;
}

.items-table {
	/* display: flex;
  justify-content: center;
  align-items: center; */
	margin-top: 5%;
}

td:hover {
	position: left;
	cursor: pointer;
	background-color: #084b81;
	color: #fff;
}

.column1 {
	float: right;
	width: 70%;
	padding: 10px;
	margin-left: 25%;
}

.column2 {
	position: fixed;
	margin-top: -80px;
	height: 80vh;
	width: 20%;
	padding: 50px;
	margin-left: 10px;
	border-right: 1px solid rgb(199, 199, 199);
}

.filter-dropdown {
	border: 2px solid #fd6100;
	border-radius: 5px;
	margin: 10px;
	width: 140px;
}

.landing-button {
	padding: 12px;
	border-radius: 5px;
	color: #fff;
	margin: 5px;

}

.landing-button:hover {
	color: #fff;
	text-decoration: none;
}

.clear-button {
	margin-top: 10px;
	margin-left: 80px;
}

/* Modal */

.modal-text {
	background-color: #ebebeb;
	padding: 8px;
}

.modal-footer {
	display: inline;
}

.modal-content {
	border: 4px solid #fd6100;
	padding: 10px;
}

.modal-button {
	position: absolute;
	right: 50px;
	padding: 7px;
	border-radius: 5px;
	color: white;
}

.modal-button:hover {
	color: white;
	text-decoration: none;
}

/* Toast */

.toast-background {
	padding: 20px;
}

/* Add Lost Item Form */

.lost-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	width: 500px;
	margin-left: 30%;
}

.lost-form {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.lost-form input[type=text],
input[type=email],
input[type=password] {
	border: none;
	border-bottom: 1px solid #fd6100;
}

.lost-form textarea {
	border: 1px solid #fd6100;
	width: 350px;
	height: 150px;
}

.found-textarea {
	width: 350px;
	height: 50px;
}

.dropdown {
	border: 1px solid #e17838;
}

.form-buttons {
	display: flex;
	width: 280px;
	margin: 20px;
	margin-left: 110px;
}

.add-lost-button {
	width: 130px;
	margin-left: 40px;
}

.cancel-button {
	background-color: #929292;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 5px;
}

.cancel-button:hover {
	background-color: rgb(207, 26, 26);
	text-decoration: none;
	color: white;
}

/* Claim Form */

.claim-text-small {
	font-size: x-small;
}

/* FAQ */

.FAQ-section {
	position: relative;
	height: 80vh;
	width: 100%;
	/* background: url('./resources/landing-rock.jpg') no-repeat center center/cover; */
	/* background-color: #343a40; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8vh;
}

.container-faq {
	margin-top: -90px;
	padding: 4rem;
	width: 48rem;
}

.faq-header {
	font-size: 2.25rem;
	color: #094b81;
	padding: 1.3rem;
	text-align: center;
	margin-bottom: 20px;
}

.accordion a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	color: #e17838;
	font-size: 1.15rem;
	font-weight: 400;
	border-bottom: 1px solid #e17838;
}

.accordion a:hover,
.accordion a:hover::after {
	cursor: pointer;
	color: #094b81;
	border-bottom: 1px solid #094b81;
}

.accordion .accordion-item a:hover {
	color: #094b81;
}

.accordion a:hover::after {
	border: 1px solid #094b81;
}

.accordion a.active {
	color: #094b81;
	border-bottom: 1px solid #094b81;
}

.accordion a::after {
	font-family: 'Ionicons';
	content: '\f218';
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	right: 1rem;
	font-size: 1rem;
	color: #e17838;
	padding: 5px;
	width: 30px;
	height: 30px;
	bottom: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #e17838;
	/* text-align: center; */
}

.accordion a.active::after {
	font-family: 'Ionicons';
	content: '\f209';
	color: #094b81;
	border: 1px solid #094b81;
}

.accordion .content {
	opacity: 0;
	padding: 0 1rem;
	max-height: 0;
	border-bottom: 1px solid #094b81;
	overflow: hidden;
	clear: both;
	-webkit-transition: all 0.2s ease 0.15s;
	-o-transition: all 0.2s ease 0.15s;
	transition: all 0.2s ease 0.15s;
}

.accordion .content p {
	font-size: 1rem;
	font-weight: 300;
}

.accordion .content.active {
	opacity: 1;
	padding: 1rem;
	max-height: 120px;
	-webkit-transition: all 0.35s ease 0.15s;
	-o-transition: all 0.35s ease 0.15s;
	transition: all 0.35s ease 0.15s;
}

/* Contact */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page {
	text-align: center;
}

.contact-header {
	text-align: center;
}

#text-feedback {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: white;
	text-align: center;
}

#form-main {
	padding-top: 120px;
}

#form-div {
	background-color: #e6e6e6f4;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-left: -230px;
}

.feedback-input {
	opacity: 0.9;
	color: #000000;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused {
	color: #30aed6;
	border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */

#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 20px 20px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
}

#name:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 20px 20px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
}

#email {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 20px 20px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
}

#email:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 20px 20px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
}

#comment {
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 20px 20px;
	background-position: 11px 12px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	background-color: white;
}

#button-blue {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	float: right;
	width: 30%;
	cursor: pointer;
	border-radius: 5px;
	background-color: #094b81;
	color: white;
	font-size: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover {
	background-color: #e17838;
}

.submit:hover {
	color: #3498db;
}

@media only screen and (max-width: 580px) {
	#form-div {
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}