/* Navbar */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.navbar1 {
	position: relative;
	height: 10vh;
	width: 100%;
}

.nav-top {
	position: relative;
	height: 100px;
	background-color: #084b81;
}

.logo {
	width: 8%;
	height: 100%;
	background: url('./resources/logo.jpg') no-repeat center center/cover;
}

.slogan {
	position: absolute;
	left: 38%;
	top: 5px;
	font-size: 4rem;
	color: rgb(219, 219, 219);
	font-family: 'Acme', sans-serif;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
	margin-bottom: -140px;
}

.search-bar {
	width: 40%;
	border: none;
	border-bottom: 2px solid #084b81;
	/* border-radius: 25px; */
	padding: 10px;
	/* background-color: #eeeeee; */
}

.search-bar::placeholder {
	font-size: 1.3rem;
	color: #bbbbbb;
}

/* .search-bar:focus {
	background-color: #f5f5f5;
} */

.search-button {
	position: absolute;
	/* background: #e17838; */
	border: none;
	/* border-radius: 0px 40px 40px 0px; */
	padding: 9px 10px;
	left: 962px;
	color: #084b81;
	cursor: pointer;
}

.login {
	position: absolute;
	color: white;
	text-decoration: none;
	right: 7%;
	margin-top: -55px;
}

.login:hover {
	color: #e17838;
	cursor: pointer;
}

.login-button {
	background-color: #e17838;
	border-color: #e17838;
}

.login-button:hover {
	background-color: #084b81;
}

.nav-bottom {
	display: flex;
	height: 40px;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	background-color: #e17838;
	text-decoration: none;
	list-style: none;
	font-size: 1.2rem;
}

.nav-bottom a {
	text-decoration: none;
	color: #fff;
}

.nav-bottom a:hover {
	color: #084b81;
}

.landing {
	height: 90vh;
	width: 100%;
	display: flex;
	margin-top: 10%;
	align-items: center;
	flex-direction: column;
}

.categories-section {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.categories {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.category {
	height: 200px;
	width: 200px;
	background: url('./resources/pile-of-five-books-51342.jpg') no-repeat center center/cover;
	margin: 20px;
	border: 2px solid #e17838;
}

.category:hover {
	box-shadow: 3px 3px 3px #000000;
	cursor: pointer;
	transform: scale(1.1);
}

.text-category {
	display: flex;
	justify-content: center;
	margin-top: 195px;
	font-size: 1.3rem;
}

.text-large {
	font-size: 3rem;
}

/* Lost Items */

.add-section {
	display: flex;
	margin-top: 100px;
	margin-bottom: -10px;
	margin-left: 74%;
	padding: 10px;
}

.add-icon {
	margin-top: -8px;
	padding-left: 10px;
	font-size: 40px;
	color: #e17838;
}

.add-icon:hover {
	color: #084b81;
	transform: scale(1.1);
	cursor: pointer;
}

.add-text {
	color: #084b81;
}

.items-table {
	/* display: flex;
  justify-content: center;
  align-items: center; */
	margin-top: 5%;
}

td:hover {
	position: left;
	cursor: pointer;
	background-color: #084b81;
	color: #fff;
}

.column1 {
	float: right;
	width: 70%;
	padding: 10px;
	margin-left: 25%;
}

.column2 {
	position: fixed;
	margin-top: -80px;
	height: 80vh;
	width: 20%;
	padding: 50px;
	margin-left: 10px;
	border-right: 1px solid rgb(199, 199, 199);
}

.filter-dropdown {
	border: 2px solid #fd6100;
	border-radius: 5px;
	margin: 10px;
	width: 140px;
}

.clear-button {
	margin-top: 10px;
	margin-left: 80px;
}

/* Modal */

.modal-text {
	background-color: #ebebeb;
	padding: 8px;
}

.modal-footer {
	display: inline;
}

.modal-content {
	border: 6px solid #e17838;
	padding: 10px;
}

/* Toast */

.toast-background {
	padding: 20px;
}

/* Add Lost Item Form */

.lost-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	width: 500px;
	margin-left: 30%;
}

.lost-form {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.lost-form input[type=text], input[type=email], input[type=password] {
	border: none;
	border-bottom: 1px solid #fd6100;
}

.lost-form textarea {
	border: 1px solid #fd6100;
	width: 350px;
	height: 150px;
}

.dropdown {
	border: 1px solid #e17838;
}

.form-buttons {
	display: flex;
	width: 280px;
	margin: 20px;
	margin-left: 110px;
}

.add-lost-button {
	width: 130px;
	margin-left: 40px;
}

.cancel-button {
	background-color: #929292;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 5px;
}

.cancel-button:hover {
	background-color: rgb(207, 26, 26);
	text-decoration: none;
	color: white;
}